
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

td{
    vertical-align: top;
}

.ag-theme-pesa24-blue .ag-root-wrapper {
    border: none !important;
}

.ag-theme-pesa24-blue .ag-header-row {
    background-color: #30A2FF !important;
}

.ag-theme-pesa24-blue .ag-header-cell {
    color: #FFF;
    font-size: 10px;
}
.ag-theme-pesa24-blue .ag-cell {
    font-size: 10px;
}

.ag-theme-pesa24-blue .ag-floating-filter {
    color: #333;
}